language: cpp

#
# We need a more recent version of GCC to build.
#
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.8
    - g++-4.8

before_install:
- if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi

# 
# LLVM needs a more recent version of CMake. This code comes from the following
# answer about installing an updated CMake:
#   http://stackoverflow.com/a/33203355
#
install:
- DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
- mkdir ${DEPS_DIR} && cd ${DEPS_DIR}
- |
  if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
    CMAKE_URL="http://www.cmake.org/files/v3.4/cmake-3.4.3-Linux-x86_64.tar.gz"
    mkdir cmake && travis_retry wget --no-check-certificate --quiet -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake
    export PATH=${DEPS_DIR}/cmake/bin:${PATH}
  fi

#
# Generate the build scripts using CMake.
#
before_script:
- rvm get head # https://github.com/travis-ci/travis-ci/issues/6307
- mkdir llvm-build
- cd llvm-build
- cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release -DLLVM_TARGETS_TO_BUILD="host"
  -DLLVM_BUILD_TOOLS=true -DLLVM_ENABLE_EH=true -DLLVM_ENABLE_PIC=true -DLLVM_ENABLE_RTTI=true
  -DLLVM_INCLUDE_TESTS=false -DLLVM_TOOL_BUGPOINT_BUILD=false -DLLVM_TOOL_BUGPOINT_PASSES_BUILD=false
  -DLLVM_TOOL_CLANG_BUILD=false -DLLVM_TOOL_DSYMUTIL_BUILD=false -DLLVM_TOOL_GOLD_BUILD=false
  -DLLVM_TOOL_LLC_BUILD=false -DLLVM_TOOL_LLI_BUILD=false -DLLVM_TOOL_LLVM_AR_BUILD=false
  -DLLVM_TOOL_LLVM_AS_BUILD=false -DLLVM_TOOL_LLVM_AS_FUZZER_BUILD=false -DLLVM_TOOL_LLVM_BCANALYZER_BUILD=false
  -DLLVM_TOOL_LLVM_COV_BUILD=false -DLLVM_TOOL_LLVM_C_TEST_BUILD=false -DLLVM_TOOL_LLVM_CXXDUMP_BUILD=false
  -DLLVM_TOOL_LLVM_DIFF_BUILD=false -DLLVM_TOOL_LLVM_DIS_BUILD=false -DLLVM_TOOL_LLVM_DWARFDUMP_BUILD=false
  -DLLVM_TOOL_LLVM_DWP_BUILD=false -DLLVM_TOOL_LLVM_EXTRACT_BUILD=false -DLLVM_TOOL_LLVM_GO_BUILD=false
  -DLLVM_TOOL_LLVM_JITLISTENER_BUILD=false -DLLVM_TOOL_LLVM_LINK_BUILD=false -DLLVM_TOOL_LLVM_LTO_BUILD=false
  -DLLVM_TOOL_LLVM_MC_BUILD=false -DLLVM_TOOL_LLVM_MC_FUZZER_BUILD=false -DLLVM_TOOL_LLVM_MCMARKUP_BUILD=false
  -DLLVM_TOOL_LLVM_NM_BUILD=false -DLLVM_TOOL_LLVM_OBJDUMP_BUILD=false -DLLVM_TOOL_LLVM_PDBDUMP_BUILD=false
  -DLLVM_TOOL_LLVM_PROFDATA_BUILD=false -DLLVM_TOOL_LLVM_READOBJ_BUILD=false -DLLVM_TOOL_LLVM_RTDYLD_BUILD=false
  -DLLVM_TOOL_LLVM_SHLIB_BUILD=false -DLLVM_TOOL_LLVM_SIZE_BUILD=false -DLLVM_TOOL_LLVM_SPLIT_BUILD=false
  -DLLVM_TOOL_LLVM_STRESS_BUILD=false -DLLVM_TOOL_LLVM_SYMBOLIZER_BUILD=false -DLLVM_TOOL_LTO_BUILD=false
  -DLLVM_TOOL_MSBUILD_BUILD=false -DLLVM_TOOL_OBJ2YAML_BUILD=false -DLLVM_TOOL_OPT_BUILD=false
  -DLLVM_TOOL_SANCOV_BUILD=false -DLLVM_TOOL_SANSTATS_BUILD=false -DLLVM_TOOL_VERIFY_USELISTORDER_BUILD=false
  -DLLVM_TOOL_XCODE_TOOLCHAIN_BUILD=false -DLLVM_TOOL_YAML2OBJ_BUILD=false -DCMAKE_INSTALL_PREFIX=${TRAVIS_BUILD_DIR}/llvm-install
  ${TRAVIS_BUILD_DIR}

#
# Build using the makefiles previously generated by CMake.
#
script:
- cd ${TRAVIS_BUILD_DIR}/llvm-build
- make -j2

#
# Install, then compress the install directory for deployment.
#
after_success:
- |
  mkdir -p ${TRAVIS_BUILD_DIR}/llvm-install
  cd ${TRAVIS_BUILD_DIR}/llvm-build
  make install
  cd ${TRAVIS_BUILD_DIR}
  SEEC_BUILT_XZ_FILENAME="seec_llvm_travis_build_${TRAVIS_OS_NAME}_${CC}.tar.xz"
  tar -cJf ${TRAVIS_BUILD_DIR}/${SEEC_BUILT_XZ_FILENAME} -C ${TRAVIS_BUILD_DIR}/llvm-install .

matrix:
  include:
  - os: linux
    compiler: clang
  - os: linux
    compiler: gcc
  - os: osx
    compiler: clang

#
# For tagged releases, push the compressed install directory to GitHub.
#
deploy:
  provider: releases
  api_key:
    secure: ity5PMo/BON3294MyZWO/WC5imQ6rFBoasyq3uuT5T15JGdbxGy+GtJxwf7U47620mek1FroiDxrJZs6CKqb4EkDcW44QaYrGPDPxqqRCqN6CgM8c0wlrOp3A/guiW6SiP182uwzE1xwtlSv/8Qh/7MP4J89y1EUT8BmNFUJqYigMTwzI/V8qOLctjSS8glhS36e+S5bGGRlUv+Bwpu6Y2SzUYEleUP9QQCoPmmgRCsVXG74695O91jOaq4y0tlEGGyEpr17YlxZO56N5CGzH8CN1B3HD64MPoOP16G7S4IkRIu+0PZ7L5Z4Q6vXqll6b83+OPLurpo7XlNFELCEx2LwwL3vW2cxyAHToKtMGlBuhuPpYF/Y/eBSjwo1agy+8Zzxce517TGAeQxh9g38Rk2Aa1sL9Oj2EquhLSiZjcofi0uCSj2JT9XVCzKl10gExOzF661/WqmcWfu201ulFCcMWSs7k6dB+Ab5QEk+4r3LJrGFgZp1Sa50nBE5NrRbzM1Q7dQC38NAazEi8kXzeF38eR4R/E7P+ZouGgOZ7V4Bfb6vrb2muMzSoHl2cUv5RopWRvGDQQnOBNdnZPvr+jtL/g46EjMGfrBWOZE4IVI2toIYu+bM5MRSZ1AnrXnDMuJMeX5U6KPIlIchkKskjAfXwuVgfG6by/BLxJLpx2Y=
  file: "${TRAVIS_BUILD_DIR}/${SEEC_BUILT_XZ_FILENAME}"
  skip_cleanup: true
  on:
    tags: true
    repo: seec-team/llvm-with-seec-clang
    branch: release_39_travis

