language: cpp

matrix:
  include:
    - os: linux
      dist: trusty
      compiler: clang
      env: 
        - COMPILER_CXX=clang++
        - COMPILER_CC=clang
    - os: linux
      dist: trusty
      compiler: clang
      addons:
        apt:
          sources:
          - llvm-toolchain-trusty-4.0
          packages:
          - clang-4.0
      env: 
        - COMPILER_CXX=clang++-4.0
        - COMPILER_CC=clang-4.0
    - os: linux
      dist: trusty
      compiler: gcc
      addons:
        apt:
          sources:
          - ubuntu-toolchain-r-test
          packages:
          - gcc-6
          - g++-6
      env:
        - COMPILER_CXX=g++-6
        - COMPILER_CC=gcc-6
    - os: linux
      dist: trusty
      compiler: gcc
      addons:
        apt:
          sources:
          - ubuntu-toolchain-r-test
          packages:
          - gcc-7
          - g++-7
      env:
        - COMPILER_CXX=g++-7
        - COMPILER_CC=gcc-7
    - os: osx
      osx_image: xcode7.3
      compiler: clang
      env: 
        - THE_OSX_IMAGE=xcode7.3
        - COMPILER_CXX=clang++
        - COMPILER_CC=clang
    - os: osx
      osx_image: xcode8.3
      compiler: clang
      env: 
        - THE_OSX_IMAGE=xcode8.3
        - COMPILER_CXX=clang++
        - COMPILER_CC=clang
    - os: osx
      osx_image: xcode9
      compiler: clang
      env: 
        - THE_OSX_IMAGE=xcode9
        - COMPILER_CXX=clang++
        - COMPILER_CC=clang

before_install:
  - export CXX="${COMPILER_CXX}" CC="${COMPILER_CC}"

# 
# LLVM needs a more recent version of CMake. This code comes from the following
# answer about installing an updated CMake:
#   http://stackoverflow.com/a/33203355
#
install:
- DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
- mkdir ${DEPS_DIR} && cd ${DEPS_DIR}
- |
  if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
    CMAKE_URL="http://www.cmake.org/files/v3.4/cmake-3.4.3-Linux-x86_64.tar.gz"
    mkdir cmake && travis_retry wget --no-check-certificate --quiet -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake
    export PATH=${DEPS_DIR}/cmake/bin:${PATH}

    NINJA_URL="https://github.com/ninja-build/ninja/releases/download/v1.7.2/ninja-linux.zip"
    mkdir ninja
    travis_retry wget --no-check-certificate --quiet -O ninja.zip ${NINJA_URL}; unzip -u -d ninja ninja.zip

    CMAKE_GENERATOR="Ninja"
    EXTRA_CMAKE_ARGUMENTS="-DCMAKE_MAKE_PROGRAM=${DEPS_DIR}/ninja/ninja"
    CMAKE_BUILD_COMMAND="cmake --build ."
  else
    CMAKE_GENERATOR="Unix Makefiles"
    EXTRA_CMAKE_ARGUMENTS=""
    CMAKE_BUILD_COMMAND="make -j3"
  fi

#
# Generate the build scripts using CMake.
#
before_script:
- rvm get stable # https://github.com/travis-ci/travis-ci/issues/6307
- mkdir ${TRAVIS_BUILD_DIR}/llvm-build
- cd ${TRAVIS_BUILD_DIR}/llvm-build
- cmake -G "${CMAKE_GENERATOR}" ${EXTRA_CMAKE_ARGUMENTS} -DCMAKE_BUILD_TYPE=Release -DLLVM_TARGETS_TO_BUILD="host"
  -DLLVM_BUILD_TOOLS=true -DLLVM_ENABLE_EH=true -DLLVM_ENABLE_PIC=true -DLLVM_ENABLE_RTTI=true -DLLVM_INCLUDE_EXAMPLES=false
  -DLLVM_INCLUDE_TESTS=false -DLLVM_TOOL_BUGPOINT_BUILD=false -DLLVM_TOOL_BUGPOINT_PASSES_BUILD=false
  -DLLVM_TOOL_CLANG_BUILD=false -DLLVM_TOOL_DSYMUTIL_BUILD=false -DLLVM_TOOL_GOLD_BUILD=false
  -DLLVM_TOOL_LLC_BUILD=false -DLLVM_TOOL_LLI_BUILD=false -DLLVM_TOOL_LLVM_AR_BUILD=false
  -DLLVM_TOOL_LLVM_AS_BUILD=false -DLLVM_TOOL_LLVM_AS_FUZZER_BUILD=false -DLLVM_TOOL_LLVM_BCANALYZER_BUILD=false
  -DLLVM_TOOL_LLVM_COV_BUILD=false -DLLVM_TOOL_LLVM_C_TEST_BUILD=false -DLLVM_TOOL_LLVM_CXXDUMP_BUILD=false
  -DLLVM_TOOL_LLVM_DIFF_BUILD=false -DLLVM_TOOL_LLVM_DIS_BUILD=false -DLLVM_TOOL_LLVM_DWARFDUMP_BUILD=false
  -DLLVM_TOOL_LLVM_DWP_BUILD=false -DLLVM_TOOL_LLVM_EXTRACT_BUILD=false -DLLVM_TOOL_LLVM_GO_BUILD=false
  -DLLVM_TOOL_LLVM_JITLISTENER_BUILD=false -DLLVM_TOOL_LLVM_LINK_BUILD=false -DLLVM_TOOL_LLVM_LTO_BUILD=false -DLLVM_TOOL_LLVM_LTO2_BUILD=false
  -DLLVM_TOOL_LLVM_MC_BUILD=false -DLLVM_TOOL_LLVM_MC_FUZZER_BUILD=false -DLLVM_TOOL_LLVM_MCMARKUP_BUILD=false
  -DLLVM_TOOL_LLVM_NM_BUILD=false -DLLVM_TOOL_LLVM_OBJDUMP_BUILD=false -DLLVM_TOOL_LLVM_PDBDUMP_BUILD=false
  -DLLVM_TOOL_LLVM_PROFDATA_BUILD=false -DLLVM_TOOL_LLVM_READOBJ_BUILD=false -DLLVM_TOOL_LLVM_RTDYLD_BUILD=false
  -DLLVM_TOOL_LLVM_SHLIB_BUILD=false -DLLVM_TOOL_LLVM_SIZE_BUILD=false -DLLVM_TOOL_LLVM_SPLIT_BUILD=false
  -DLLVM_TOOL_LLVM_STRESS_BUILD=false -DLLVM_TOOL_LLVM_SYMBOLIZER_BUILD=false -DLLVM_TOOL_LLVM_XRAY_BUILD=false -DLLVM_TOOL_LTO_BUILD=false
  -DLLVM_TOOL_MSBUILD_BUILD=false -DLLVM_TOOL_OBJ2YAML_BUILD=false -DLLVM_TOOL_OPT_BUILD=false
  -DLLVM_TOOL_SANCOV_BUILD=false -DLLVM_TOOL_SANSTATS_BUILD=false -DLLVM_TOOL_VERIFY_USELISTORDER_BUILD=false
  -DLLVM_TOOL_XCODE_TOOLCHAIN_BUILD=false -DLLVM_TOOL_YAML2OBJ_BUILD=false -DCMAKE_INSTALL_PREFIX=${TRAVIS_BUILD_DIR}/llvm-install
  -DLLVM_PARALLEL_COMPILE_JOBS=3 -DLLVM_PARALLEL_LINK_JOBS=2
  ${TRAVIS_BUILD_DIR}

#
# Build using the makefiles previously generated by CMake.
#
script:
- cd ${TRAVIS_BUILD_DIR}/llvm-build
- ${CMAKE_BUILD_COMMAND}

#
# Install, then compress the install directory for deployment.
#
after_success:
- |
  mkdir -p ${TRAVIS_BUILD_DIR}/llvm-install
  cd ${TRAVIS_BUILD_DIR}/llvm-build
  cmake --build . --target install
  cd ${TRAVIS_BUILD_DIR}
  if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then
    SEEC_BUILT_XZ_FILENAME="seec_llvm_travis_build_${TRAVIS_OS_NAME}_${THE_OSX_IMAGE}_${CC}.tar.xz"
  else
    SEEC_BUILT_XZ_FILENAME="seec_llvm_travis_build_${TRAVIS_OS_NAME}_${CC}.tar.xz"
  fi
  tar -cJf ${TRAVIS_BUILD_DIR}/${SEEC_BUILT_XZ_FILENAME} -C ${TRAVIS_BUILD_DIR}/llvm-install .

#
# For tagged releases, push the compressed install directory to GitHub.
#
deploy:
  provider: releases
  api_key:
    secure: ity5PMo/BON3294MyZWO/WC5imQ6rFBoasyq3uuT5T15JGdbxGy+GtJxwf7U47620mek1FroiDxrJZs6CKqb4EkDcW44QaYrGPDPxqqRCqN6CgM8c0wlrOp3A/guiW6SiP182uwzE1xwtlSv/8Qh/7MP4J89y1EUT8BmNFUJqYigMTwzI/V8qOLctjSS8glhS36e+S5bGGRlUv+Bwpu6Y2SzUYEleUP9QQCoPmmgRCsVXG74695O91jOaq4y0tlEGGyEpr17YlxZO56N5CGzH8CN1B3HD64MPoOP16G7S4IkRIu+0PZ7L5Z4Q6vXqll6b83+OPLurpo7XlNFELCEx2LwwL3vW2cxyAHToKtMGlBuhuPpYF/Y/eBSjwo1agy+8Zzxce517TGAeQxh9g38Rk2Aa1sL9Oj2EquhLSiZjcofi0uCSj2JT9XVCzKl10gExOzF661/WqmcWfu201ulFCcMWSs7k6dB+Ab5QEk+4r3LJrGFgZp1Sa50nBE5NrRbzM1Q7dQC38NAazEi8kXzeF38eR4R/E7P+ZouGgOZ7V4Bfb6vrb2muMzSoHl2cUv5RopWRvGDQQnOBNdnZPvr+jtL/g46EjMGfrBWOZE4IVI2toIYu+bM5MRSZ1AnrXnDMuJMeX5U6KPIlIchkKskjAfXwuVgfG6by/BLxJLpx2Y=
  file: "${TRAVIS_BUILD_DIR}/${SEEC_BUILT_XZ_FILENAME}"
  skip_cleanup: true
  on:
    tags: true
    repo: seec-team/llvm-with-seec-clang
    branch: release_40_travis

